<ngx-graph [view]= "[1280, 720]" [layout]="layout"  [draggingEnabled]="draggingEnabled" [links]="links"
  [nodes]="nodes" [update$]="update$">
  <ng-template #nodeTemplate let-node>
    <svg>
      <g>
        <circle cx= "30" cy="30" r="20" style="stroke:#000000;
             stroke-width: 4;
             fill:#00cc00" />
        <text class='nodeName' x="30" y="30" text-anchor="middle" visibility="visible">{{node.id}}</text>
      </g>
    </svg>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:path class="line" style="stroke: #090cc7; fill: #0612bbc0" stroke-width="3">
    </svg:path>
  </ng-template>
</ngx-graph>

<p>
  <mat-slide-toggle color="primary" (change)="onClickMeHideTheNodeid()" [(ngModel)]="buttonState"> Display the Node ID:
    {{buttonState}}</mat-slide-toggle>
</p>
<button (click)="onClickMenode()">Add a new Node!</button>

<form>
  <label for="from">From</label><br>
  <input type="text" class="form-control" name="fromComponent" [(ngModel)]="fromComponentNewNodeForEdge"
    placeholder="Add source node">
</form>
<form>
  <label for="to">To</label><br>
  <input type="text" class="form-control" name="toComponent" [(ngModel)]="toComponentNewNodeForEdge"
    placeholder="add target node">
</form>
<button (click)="onClickMeaddEdge()">Add the links</button>